.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .25em solid black;
  font-family: sans-serif;
  color: black;
  border-radius: 2em;
  border-color: #418841;
}

.buttons {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  border-color: #418841;
  background-color: #418841;

}

.runtime {
  display: flex;
  justify-content: center;
  color: #5769b1;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.gANDa, .nANDl {
  display: flex;

}

.gender::after {
  /*display: none;*/
  content: ",";
}


h1, h3 {
  color: #418841;
}

img {
  height: 73px;
  width: 73px;
  margin-top: 12px;
}

.fullName {
  font-weight: bold;
  font-size: 1.5em;
}

.userName {
  font-style: italic;
  font-size: 1.2em;
  color: #5769b1;
  margin-bottom: 1.2em;
}

.location {
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
  color: gray;
  margin-left: .4em;
}

.gender {
  font-weight: bold;
}

.age {
margin-left: .4em;
font-weight: bold;
}

#xhr, #fetch, #axios, #jQuery {
  background-color: gray;
  margin-left: .4em;
  margin-right: .4em;
  margin-top: .2em;
  border-color: gray;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: .8em;
}
