.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}

.buttons {
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

img {
  height: 73px;
  width: 73px;
  margin-top: 12px;
}
